/* ini css */

body {
    margin: 0;
    background: seashell;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.suhu-style {
    font-size: 20px;
    font-family: math;
    font-style: italic;
}

.padding-area {
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-button {
    background-color: green;
    color: white;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.form-button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}

.form-button-reset:hover {
    background-color: hsl(0, 100%, 67%); /* Green */
    color: white;
}

.form-button-submit {
    background-color: green;
    color: white;
}

.form-button-reset {
    background-color: red;
    color: white;
}

.form-button-reverse {
    background-color: green;
    color: white;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}